.git
.venv
.env
.env.*
.talk2data
.private
**/*.token
.mypy_cache
.pytest_cache
.ruff_cache
.coverage*
coverage.json
dist
**/__pycache__
**/*.pyc
**/node_modules
**/dist
**/coverage
**/.env
**/.env.*

**/dist-internal
